.news {
    width: 100px;
    height: 100px;
    background-image:url(dailynews.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation-name: bouncey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes bouncey {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-15px);} 
    60% {transform: translateY(-10px);} 
    80% {transform: translateY(-5px);} 
}

.zoom {
    padding: 5px;
    background-color: #66a2da;
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.3); /* (130% zoom */
}

.newsFont{
    font-size: larger;
    padding-top: 5px;
}

.newsfeed {
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
