.container
{
    display: grid;
    grid-template-rows: repeat(18, 50px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

header
{
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #66a2da;
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

.breaking_news
{
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: #369bf5;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: small;
}

.infoBox img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

article
{
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/5;
    grid-row: 4/12;
    background-color: #8eabe1;
}

.infoBox
{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #0a3459;
    margin: 6px;
}

aside
{
    grid-column: 1/2;
    grid-row: 4/12;
    background-color: #a1bfd9;
    padding-top: 5px;
    padding-left: 5px;
    font-family: "Comic Sans MS";
}

footer
{
    grid-column: 1/5;
    grid-row: 12/13;
    background-color: #369bf5;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

@media screen and (max-width: 800px)
{
    .news
    {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    aside
    {
        grid-column: 1/5;
        grid-row: 4/7;
        font-size: small;
        font-family: "Comic Sans MS";   
    }

    article
    {
        grid-column: 1/5;
        grid-row: 7/18;
    }

    footer
    {
        grid-row: 18/19;       
    }
}